<section class="position-relative pb-0  pb-sm-5">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="fs-3">دسته بندی های برتر</h2>
				<p class="mb-0">توضیحات</p>
			</div>
		</div>

		<div class="row g-4">
			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="bg-primary bg-opacity-10 rounded-3 text-center p-3 position-relative btn-transition">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/data-science.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-1"><a href="#" class="stretched-link">داده کاوی</a></h5>
					<span class="mb-0">15 دوره آموزشی</span>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="bg-primary bg-opacity-10 rounded-3 text-center p-3 position-relative btn-transition">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/online.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-1"><a href="#" class="stretched-link">طراحی وب</a></h5>
					<span class="mb-0">22 دوره آموزشی</span>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="bg-primary bg-opacity-10 rounded-3 text-center p-3 position-relative btn-transition">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/engineering.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-1"><a href="#" class="stretched-link">مهندسی عمران</a></h5>
					<span class="mb-0">53 دوره آموزشی</span>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="bg-primary bg-opacity-10 rounded-3 text-center p-3 position-relative btn-transition">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/coding.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-1"><a href="#" class="stretched-link">برنامه نویسی</a></h5>
					<span class="mb-0">25 دوره آموزشی</span>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="bg-primary bg-opacity-10 rounded-3 text-center p-3 position-relative btn-transition">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/profit.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-1"><a href="#" class="stretched-link">SEO</a></h5>
					<span class="mb-0">20 دوره آموزشی</span>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="bg-primary bg-opacity-10 rounded-3 text-center p-3 position-relative btn-transition">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/medical.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-1"><a href="#" class="stretched-link">کمک های اولیه</a></h5>
					<span class="mb-0">10 دوره آموزشی</span>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="bg-primary bg-opacity-10 rounded-3 text-center p-3 position-relative btn-transition">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/home.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-1"><a href="#" class="stretched-link">معماری</a></h5>
					<span class="mb-0">30 دوره آموزشی</span>
				</div>
			</div>

			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="bg-primary bg-opacity-10 rounded-3 text-center p-3 position-relative btn-transition">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="assets/images/element/artist.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-1"><a href="#" class="stretched-link">گرافیک</a></h5>
					<span class="mb-0">35 دوره آموزشی</span>
				</div>
			</div>
		</div>
	</div>
</section>