@model IEnumerable<Refhub.Models.Category.CategoryItemHomePageVM>


<section class="position-relative pb-0  pb-sm-5">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="fs-3">دسته بندی های برتر</h2>
				<p class="mb-0">توضیحات</p>
			</div>
		</div>

		<div class="row g-4">
			
			@foreach (var item in Model)
			{
				<!-- Item -->
				<div class="col-sm-6 col-md-4 col-xl-3">
					<div class="bg-primary bg-opacity-10 rounded-3 text-center p-3 position-relative btn-transition">
						<!-- Image -->
			@* 			<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
							<img src="assets/images/element/data-science.svg" alt="">
						</div> *@
						<!-- Title -->
						<h5 class="mb-1"><a href="#" class="stretched-link"> @item.Name</a></h5>
						<span class="mb-0">@item.BookCount کتاب </span>
					</div>
				</div>
			}


		</div>
	</div>
</section>