<section class="bg-light position-relative">
	<!-- SVG Image -->
	<figure class="position-absolute start-0 bottom-0 mb-0">
		<img src="assets/images/element/10.svg" class="h-200px" alt="">
	</figure>

	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="fs-3">دیدگاه خریداران</h2>
				<p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
			</div>
		</div>

		<!-- Feedback START -->
		<div class="row">
			<!-- Slider START -->
			<div class="tiny-slider arrow-round arrow-creative arrow-dark arrow-hover">
				<div class="tns-outer" id="tns1-ow">
					<div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">10 to 14</span>  of 4</div><div id="tns1-mw" class="tns-ovh">
						<div class="tns-inner" id="tns1-iw">
							<div class="tiny-slider-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" data-autoplay="true" data-edge="5" data-arrow="true" data-dots="false" data-items="4" data-items-xl="3" data-items-md="2" data-items-xs="1" id="tns1" style="transform: translate3d(55.5556%, 0px, 0px);">
								<div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/07.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">سینا ناصری</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/09.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">نیلوفر نوروزی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">الهام حسینی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">فاطمه شیرازی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/07.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">سینا ناصری</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/09.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">نیلوفر نوروزی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">الهام حسینی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div>

								<!-- Feedback item -->
								<div class="tns-item" id="tns1-item0" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">فاطمه شیرازی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div>

								<!-- Feedback item -->
								<div class="tns-item" id="tns1-item1" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/07.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">سینا ناصری</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div>

								<!-- Feedback item -->
								<div class="tns-item tns-slide-active" id="tns1-item2">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/09.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">نیلوفر نوروزی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div>

								<!-- Feedback item -->
								<div class="tns-item tns-slide-active" id="tns1-item3">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">الهام حسینی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div>
								<div class="tns-item tns-slide-cloned tns-slide-active">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">فاطمه شیرازی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div><div class="tns-item tns-slide-cloned tns-slide-active">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/07.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">سینا ناصری</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div><div class="tns-item tns-slide-cloned tns-slide-active">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/09.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">نیلوفر نوروزی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">الهام حسینی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">فاطمه شیرازی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/07.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">سینا ناصری</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
									<div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
										<!-- Avatar -->
										<div class="avatar avatar-lg mb-3">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/09.jpg" alt="avatar">
										</div>
										<!-- Title -->
										<h6 class="mb-2">نیلوفر نوروزی</h6>
										<!-- Content -->
										<blockquote class="mt-1">
											<p>
												<span class="me-1 small"><i class="fas fa-quote-left"></i></span>
												مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
												<span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
											</p>
										</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div><div class="tns-controls" aria-label="Carousel Navigation" tabindex="0"><button type="button" data-controls="prev" tabindex="-1" aria-controls="tns1"><i class="fas fa-chevron-left"></i></button><button type="button" data-controls="next" tabindex="-1" aria-controls="tns1"><i class="fas fa-chevron-right"></i></button></div>
				</div>
			</div>
			<!-- Slider START -->
		</div>
		<!-- Feedback END -->
	</div>
</section>