@model Refhub_Ir.Models.Users.LoginVM
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "ورود";
}
<div class="col-12 col-lg-6 m-auto">
    <div class="row my-5">
        <div class="col-sm-10 col-xl-8 m-auto">
            <!-- Title -->
            <span class="mb-0 fs-1">👋</span>
            <h1 class="fs-4">ورود به حساب کاربری</h1>
            <p class="mb-4">از دیدن شما خوشحالم! لطفا با حساب کاربری خود وارد شوید.</p>

            <!-- Form START -->
            <form asp-action="Login" method="post">
                @Html.AntiForgeryToken()
                <!-- Email -->
                <div class="mb-4">
                    <label asp-for="Email" class="form-label">ایمیل *</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="bi bi-envelope-fill"></i></span>
                        <input asp-for="Email" type="email" class="form-control border-0 bg-light rounded-end ps-1" placeholder="***@@gmail.com" id="Email">
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <!-- Password -->
                <div class="mb-4">
                    <label asp-for="Password" class="form-label">رمز عبور *</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-lock"></i></span>
                        <input asp-for="Password" type="password" class="form-control border-0 bg-light rounded-end ps-1" placeholder="********" id="Password">
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <!-- Check box -->
                <div class="mb-4 d-flex justify-content-between mb-4">
                    <div class="form-check">
                        <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label asp-for="RememberMe" class="form-check-label" for="exampleCheck1">مرا به خاطر بسپار</label>
                    </div>
                    <div class="text-primary-hover">
                        <a href="forgot-password.html" class="text-secondary">
                            <u>رمز خود را فراموش کرده اید؟</u>
                        </a>
                    </div>
                </div>
                <!-- Button -->
                <div class="align-items-center mt-0">
                    <div class="d-grid">
                        <button class="btn btn-primary mb-0" type="submit">ورود</button>
                    </div>
                </div>
            </form>
            <!-- Form END -->
            <!-- Social buttons and divider -->
            <div class="row">
                <!-- Divider with text -->
                <div class="position-relative my-4">
                    <hr>
                    <p class="small position-absolute top-50 start-50 translate-middle bg-body px-5">یـا</p>
                </div>

                <!-- Social btn -->
                <div class="col-xxl-6 d-grid">
                    <a href="#" class="btn bg-google mb-2 mb-xxl-0"><i class="fab fa-fw fa-google text-white me-2"></i>ورود با Google</a>
                </div>
                <!-- Social btn -->
                <div class="col-xxl-6 d-grid">
                    <a href="#" class="btn bg-facebook mb-0"><i class="fab fa-fw fa-facebook-f me-2"></i>ورود با Facebook</a>
                </div>
            </div>

            <!-- Sign up link -->
            <div class="mt-4 text-center">
                <span>حساب کاربری ندارید؟ <a asp-controller="Account" asp-action="Register" class="btn btn-primary mb-0">ثبت نام</a></span>
            </div>
        </div>
    </div> <!-- Row END -->
</div>